.header {
    background-color: #3498DB;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
list-style: none;
display: flex;
gap: 10px;
}

.navigation a {
color: #2C3E50;
text-decoration: none;
}

.navigation a.active {
text-decoration: underline;
}