.nav {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: #007EA7;
  color: #FFF;
}

.nav a.active {
  background-color: #00A8E8;
}
