.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-item {
  transition: all 0.3s ease;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.nav-item:hover .nav-link {
  background-color: #007EA7;
  color: #FFF;
}

.nav-item.active .nav-link {
  background-color: #00A8E8;
}
