.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: calc(33.3333% - 20px);
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }

.project {
width: calc(33.33% - 20px);
margin: 10px;
padding: 10px;
border: 1px solid #2C3E50;
border-radius: 10px;
}

.project img {
width: 100%;
height: 200px;
object-fit: cover;
}
  
.project h3, .project a {
    margin-top: 10px;
}
  