.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.resume ul {
    list-style: none;
    padding-left: 0;
}

.resume li {
    margin-top: 10px;
    color: #003459;
}

.resume a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #003459;
    text-decoration: none;
    border-radius: 5px;
}
